<!DOCTYPE html>
<html>
  <head>
    <title>Customer Details</title>
  </head>
  <body>
    <h1>Customer Details</h1>
    <table border="1">
      <tr>
        <th>Customer Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Address</th>
        <th>Pincode</th>
      </tr>
      <tr>
        <td>{{ customer_details.cust_name }}</td>
        <td>{{ customer_details.email }}</td>
        <td>{{ customer_details.mob_no }}</td>
        <td>{{ customer_details.address }}</td>
        <td>{{ customer_details.pincode }}</td>
      </tr>
    </table>
  </body>
</html>
